.small-image{
    height:40px ;
    width:40px ;
}

.small-image:hover{
    background-color: #dce2ed;
    /*#edf2f9*/
}
.list-group{
    margin-left: 20%;
    margin-right: 20%;
    /*border-right: 1px solid #3e83f2;*/
    border-left: 1px solid #3e83f2;
}

.list-group-item{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    margin-top: 1%;
    padding-bottom: 5%;
    border-radius: 10px;
}

.ng-invalid.ng-dirty {
border-color: #FA787E;
}

.ng-valid.ng-dirty {
border-color: #3e83f2;
}