.small-image{
    height:40px ;
    width:40px ;
}

.small-image:hover{
    background-color: #dce2ed;
    /*#edf2f9*/
}
.list-group{
    margin-left: 20%;
    margin-right: 20%;
    /*border-right: 1px solid #3e83f2;*/
    border-left: 1px solid #F05A28;
}

.list-group-item{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    margin-top: 1%;
    padding-bottom: 5%;
    border-radius: 10px;
}

.ng-invalid.ng-dirty {
border-color: #FA787E;
}

.ng-valid.ng-dirty {
border-color: #3e83f2;
}

.nav-pills > li.active > a {
    background-color:#EE4036;
}

.nav-pills >li> a {
    color:#EE4036;
}

.nav-pills>li.active>a:hover {
    background-color:#EE4036;
}
.nav-pills>li.active>a:focus {
    background-color:#EE4036;
}

.btn-primary:hover,
.btn-primary,
.btn-primary:focus {
    background-color: #EE4036;
    border-color: #F05A28;
}
.btn-primary:active:focus {
    background-color: #ea0e0e;
    border-color: #EE4036;
}